.shadowBox {
        box-shadow: 5px 17px 22px -8px rgba(9, 30, 66, 0.25), 0 0 5px rgba(9, 30, 66, 0.31);

}

.transitionAllFast {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.transitionColor {
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
}

.transitionHeight {
    -webkit-transition: height .6s ease-in-out;
    -moz-transition: height .6s ease-in-out;
    -ms-transition: height .6s ease-in-out;
    -o-transition: height .6s ease-in-out;
}

.transitionOpacity {

      -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
         -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;

}

.shadowBottom  {
    -webkit-box-shadow: 0 10px 6px -8px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 10px 6px -8px rgba(0,0,0,0.5);
            box-shadow: 0 10px 6px -8px rgba(0,0,0,0.5);
}

.transitionMargin {
  -webkit-transition: margin 0.5s ease-in;
  -moz-transition: margin 0.5s ease-in;
  -o-transition: margin 0.5s ease-in;
  transition: margin 0.5s ease-in;
}

.transitionMarginSlower {
  -webkit-transition: margin 1s ease-out;
  -moz-transition: margin 1s ease-out;
  -o-transition: margin 1s ease-out;
  transition: margin 1s ease-out;
}

.transitionAllUsecases {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all  0.4s ease-in-out;
}

.transitionBackground {
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -ms-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
}

.transformScale {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.opacityZero {

    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0.0;
}
