@font-face {
   font-family: "Antonellie";
   src:url("../../assets/webfonts/antonellie/Antonellie.ttf");
}
html *
{

   // font-family: "Antonellie" !important;
}

html h1 {
   font-family:"Antonellie" !important;
}
