---
---

@import "mainResponsiveFunctions.scss";
@import "extendingTools.scss";
@import "colors.scss";
@import "font.scss";
@import "modal.scss";
@import "elements.scss";

.ripple{
  position:absolute;
  background:#fff;
  border-radius:50%;
  width:5px;
  height:5px;
  animation:rippleEffect .6s 1;
  opacity:0;
}

@keyframes rippleEffect {
  0% {transform:scale(1); opacity:0.4;}
  100% {transform:scale(100); opacity:0;}
}

.item {

   top: 10px;
   width: 55px;
   height: 50px;
   background: #fff;
   margin: 5px;
   padding: 5px;
   box-shadow: 0 0 10px rgba(0,0,0,.1);
   cursor: pointer;
   position: relative;
   overflow: hidden;
   border-radius: 4px;
   backface-visibility: hidden;
   transition:0.5s;


   span {
      display: block;
      background: darken(#7A8C51, 30%);
      width: 40px;
      height: 3px;
      position: absolute;
      left: 7px;
      right: 7px;

      &.top {
         top: 12px;
      }

      &.middle {
         top: 22px;
      }

      &.bottom {
         top: 32px;
      }
   }
}

// A version

.item-b{
   span {
      transition-property: all;
      transition-duration: 0.2s;
      transition-delay: 0;
      transition-timing-function: cubic-bezier(.48,-0.28,.41,1.4);
   }
}

.item-b.active {

   span {
      transition-property: all;
      transition-duration: 0.2s;
      transition-delay: 0;
      transition-timing-function: cubic-bezier(.48,-0.28,.41,1.4);
   }

   .top {
      transform: translateY(10px) rotate(45deg);
   }

   .middle {
      opacity: 0;
      transform: scale(0,0);
   }

   .bottom {
      transform: translateY(-10px) rotate(-45deg);
   }
}

.color-button{@extend .item; background:$brightSand}


// .color-button{@extend .item; background:#9C27B0; //&:hover{background:lighten(#9C27B0,0%);}}
