
{% assign Departments = site.data.about.team.Departments %}
<div class="container-fluid DepartmentsContainerFluid">
  <div class="container DepartmentsContainer">

      <div class="row">
        <div class="col">
        </div>

        <div class="col-7">

            <h4>{{ Departments.header }}</h4>
            <div class="TeamHerosubtext">{{ Departments.text }}</div>

        </div>

        <div class="col">
        </div>
    </div>

    {% for types in Departments.TeamTypes %}

        <div class="row paddingBottomDepartment">
            <div class="secondaryServicesBox">
                <h5>{{ types.header }}</h5>
                <div class="departmentSubtext">{{ types.text }}</div>
                <div class="secondaryServicesContact"><a href="mailto:{{ types.contact }}">{{ types.contact }}</a></div>
            </div>
        </div>

    {% endfor %}


    </div>
</div>
