---
layout: default
title: Careers
permalink: /careers/
main: true
priority: 11
---

<div class="container-fluid CareersBackgroundColorHero">
  <div class="container">
    <div class="row">
        <div class="col">

          <h4>{{ site.data.careers.Hero.HeroTitle }}</h4>

        </div>
      </div>

      <div class="row">
            <div class="col">
                  <div class="careersSubheader">
                      {{ site.data.careers.Hero.Subtitle }}
                  </div>
            </div>
      </div>

      <div class="row">
        <div class="col-8 CareersColSubTextContainer">
              <div class="subtitleCareers">
                  {{ site.data.careers.header.title }}
              </div>
              <div class="CareersSubText">
                  {{ site.data.careers.generic.company }}
              </div>
        </div>
      </div>


    </div>
</div>


<div class="container-fluid CareersListContainer">
  <div class="container Jobpostings">
      <div class="row jobPostingHeaderRow"><div class="jobPostingHeader">Available Jobs at QiTASC</div></div>




      {% assign availableJobs = site.data.careers.Jobs | where: 'status', 'available'%}
      {% for job in availableJobs %}

      <div class="row">
        <a href="{{ job.link }}" target="_self">
          <div class="JobPostingBox">
            {% if job.location == 'Vienna'%}
                      <div class="JobPostingTitle">{{ job.title }}</div>
            {% else %}
                      <div class="JobPostingTitleDuess">{{ job.title }}</div>
            {% endif %}
            </div>

        </a>
      </div>





      {% endfor %}

    </div>
  </div>


<div class="container-fluid ArticleContainer">
    <div class="container Jobpostings">
        <div class="row jobPostingHeaderRow"><h4>{{ site.data.careers.Hero.CareersArticleTitle }}</h4></div>





        {% for item in site.data.careers.Hero.CareerArticles %}

        <div class="row">
          <a href="{{ item.link }}" target="_self">
            <div class="JobPostingBox">

                        <div class="titleArticle">{{ item.title }}</div>

              </div>

          </a>
        </div>





        {% endfor %}

      </div>
</div>
