---
layout: jobs
title: IT Administrator in Düsseldorf

position: IT Administrator
location: Düsseldorf
headline: We are looking for an IT Administrator!
hardfacts:
    title: Hard Facts
    subtitle: job as an IT Administrator
    list:
        - in Düsseldorf
        - at QiTASC UG (<a href="http://www.qitasc.com">www.qitasc.com</a>)
        - field&#58; Test Automation
        - Full-Time job (40 hours per week)
    apply: Please apply to <a href="mailto:michael.zehender@qitasc.com">michael.zehender@qitasc.com</a>
description:
    -
        title: Your responsibilities
        subtitle: as an IT Administrator
        list:
            - manage server and network infrastructure across the organization
            - automate IT processes and workflows
            - plan, test and execute solutions based on an analysis of business requirements
            - liaise with external parties
            - provide internal support to the business
    -
        title: Key Requirements
        list:
        - strong Unix / Linux server administration experience
        - excellent understanding of networking concepts (including routing, VPN and firewalls)
        - strong experience with configuration management tools (such as SaltStack, Ansible, Chef)
        - good knowledge of scripting languages
        - robust understanding of virtualization technologies
        - passion for writing and updating clear documentation
        - fluent in English (written and verbal)
        - good German skills (min. C1)
        - works well both independently and in a team
        - positive “can-do” attitude towards work
    -
        title: Helpful
        list:
        - knowledge of Windows and OSX operating environments
        - experience/interest in DevOps and Infrastructure as Code
        - knowledge of typical DevOps technologies (build systems, code repositories, CI/CD, containerization, etc.)
        - experience in the telecommunications industry
---
