---
layout: jobs
title: Junior Automation Engineer in Vienna

position: Junior Automation Engineer
location: Vienna
headline: We are looking for a Junior Automation Engineer!
hardfacts:
    title: Hard Facts
    subtitle: job as a Junior Automation Engineer
    list:
        - in Vienna
        - at QiTASC GmbH (<a href="http://www.qitasc.com">www.qitasc.com</a>)
        - field&#58; Test Automation
        - Full-Time job (38,5 hours per week)
        - <u>minimum €26.040.-</u> per year salary (gross) for full-time
    apply: Please apply to <a href="mailto:office@qitasc.com">office@qitasc.com</a>
description:
    -
        title: Your responsibilities
        subtitle: as a Junior Automation Engineer
        list:
        - support during test environment setup and test scope planning
        - write, execute and analyze automated test cases
        - support execution result reporting and during defect management
        - interact with customers‘ test engineers
    -
        title: Key Requirements
        list:
        - passion for automation engineering
        - high degree of commitment and motivation
        - strong problem solving and analytical skills
        - able to learn independently, e.g. to understand complex solutions
        - fluent English in writing and speaking
    -
        title: Helpful
        list:
        - know-how in telecommunications
        - basic programming experience
        - good German skills (min. C1)
---
