---
layout: jobs
title: Junior Automation Engineer in Düsseldorf

position: Junior Automation Engineer
location: Düsseldorf
headline: We are looking for a Junior Automation Engineer!
hardfacts:
    title: Hard Facts
    subtitle: job as a Junior Automation Engineer
    list:
        - in Düsseldorf
        - at QiTASC UG (<a href="http://www.qitasc.com">www.qitasc.com</a>)
        - field&#58; Test Automation
        - Full-Time job (40 hours per week)
    apply: Please apply to <a href="mailto:osman.davutoglu@qitasc.com">osman.davutoglu@qitasc.com</a>
description:
    -
        title: Your responsibilities
        subtitle: as a Junior Automation Engineer
        list:
        - support during test environment setup and test scope planning
        - write, execute and analyze automated test cases
        - support execution result reporting and during defect management
        - interact with customers‘ test engineers
    -
        title: Key Requirements
        list:
        - passion for automation engineering
        - high degree of commitment and motivation
        - strong problem solving and analytical skills
        - able to learn independently, e.g. to understand complex solutions
        - fluent English in writing and speaking
        - good German skills (min. C1)
    -
        title: Helpful
        list:
        - know-how in telecommunications
        - basic programming experience
---
