---
layout: jobs
title: Senior Software Developer in Vienna

position: Senior Software Developer
location: Vienna
headline: We are looking for a Senior Software Developer!
hardfacts:
    title: Hard Facts
    subtitle: job as a Senior Software Developer
    list:
        - in Vienna
        - at QiTASC GmbH (<a href="http://www.qitasc.com">www.qitasc.com</a>)
        - field&#58; Test Automation
        - 38.5 hours per week
        - <u>minimum €53.000.-</u> per year salary (gross) for full-time
    apply: Please apply to <a href="mailto:michael.zehender@qitasc.com">michael.zehender@qitasc.com</a>
description:
    -
        title: Your responsibilities
        subtitle: as a senior software developer
        list:
            - liaise with customers about QiTASC's software solutions
            - have a good feel for software architecture
            - extract and abstract the essence of a concept
            - write automated tests
            - refactor your code regularly
            - review code and provide constructive feedback
            - mentor team members
    -
        title: Key Requirements
        list:
            - passion for software engineering
            - have a good feel for software architecture
            - highly proficient in Java, Kotlin or another JVM language
            - clear understanding of object orientation
            - fluent English in writing and speaking
    -
        title: Helpful
        list:
            - know-how in telecommunications
            - Go, Elm, Rust know-how
            - German skills
---
