---
layout: jobs
title: Senior Automation Engineer in Vienna

position: Senior Automation Enginner
location: Vienna
headline: We are looking for a Senior Automation Engineer!
hardfacts:
    title: Hard Facts
    subtitle: job as a Senior Automation Engineer
    list:
        - in Vienna
        - at QiTASC GmbH (<a href="http://www.qitasc.com">www.qitasc.com</a>)
        - field&#58; Test Automation
        - Full-Time job (38,5 hours per week)
        - <u>minimum €39.200.-</u> per year salary (gross) for full-time
    apply: Please apply to <a href="mailto:office@qitasc.com">office@qitasc.com</a>
description:
    -
        title: Your responsibilities
        subtitle: as a Senior Automation Engineer
        list:
        - planning, setup and management of test environment and test scope
        - taking responsibility and ownership of test scope
        - coordinate a small team of testers
        - QA for automated test cases
        - drive execution result reporting and defect management
        - lead interaction with customers‘ test engineers and management
        - write, execute and analyze automated test cases
    -
        title: Key Requirements
        list:
        - passion for automation engineering
        - a proven record of independently learning and understanding complex solutions
        - high degree of commitment and motivation
        - strong problem solving and analytical skills
        - experience in programming and project management
        - fluent English in writing and speaking

    -
        title: Helpful
        list:
        - know-how in telecommunications
        - good German skills (min. C1)
---
