---
layout: jobs
title: Senior Automation Engineer in Düsseldorf

position: Senior Automation Enginner
location: Düsseldorf
headline: We are looking for a Senior Automation Engineer!
hardfacts:
    title: Hard Facts
    subtitle: job as a Senior Automation Engineer
    list:
        - in Düsseldorf
        - at QiTASC UG (<a href="http://www.qitasc.com">www.qitasc.com</a>)
        - field&#58; Test Automation
        - Full-Time job (40 hours per week)
    apply: Please apply to <a href="mailto:osman.davutoglu@qitasc.com">osman.davutoglu@qitasc.com</a>
description:
    -
        title: Your responsibilities
        subtitle: as a Senior Automation Engineer
        list:
        - planning, setup and management of test environment and test scope
        - taking responsibility and ownership of test scope
        - coordinate a small team of testers
        - QA for automated test cases
        - manage execution result reporting and defect management
        - lead interaction with customers‘ test engineers and management
        - write, execute and analyze automated test cases
    -
        title: Key Requirements
        list:
        - passion for automation engineering
        - a proven record of independently learning and understanding complex solutions
        - high degree of commitment and motivation
        - strong problem solving and analytical skills
        - experience in programming and project management
        - fluent English in writing and speaking
        - good German skills (min. C1)
    -
        title: Helpful
        list:
        - know-how in telecommunications
---
