---
layout: jobs
title: Software Developer in Vienna

position: Software Developer
location: Vienna
headline: We are looking for a Software Developer!
hardfacts:
    title: Hard Facts
    subtitle: job as Software Developer
    list:
        - in Vienna
        - at QiTASC GmbH (<a href="http://www.qitasc.com">www.qitasc.com</a>)
        - field&#58; Test Automation
        - 30-38.5 hours per week
        - <u>minimum €32.200.-</u> per year salary (gross) for full-time
    apply: Please apply to <a href="mailto:michael.zehender@qitasc.com">michael.zehender@qitasc.com</a>
description:
    -
        title: Your responsibilities
        subtitle: as a software developer
        list:
            - extract and abstract the essence of a concept
            - write automated tests
            - refactor your code regularly
            - review code and provide constructive feedback
    -
        title: Key Requirements
        list:
            - passion for software engineering and architecture
            - proficiency in Java, Kotlin or another JVM language
            - clear understanding of object-orientation
            - a sense for plugin-based architectures
            - fluent English in writing and speaking
    -
        title: Helpful
        list:
            - know-how in telecommunications
            - Kotlin know-how
            - German skills

---
