<div class="container-fluid NewsroomBackgroundContainer">
  <div class="container NewsroomHeader">
    <div class="row">
      <div class="col NewsroomHeaderTitleColumn">

          <div class="NewsroomHeaderTitle">
            {{ site.data.Newsroom.Newsroom.header.title }}
          </div>
          <div class="NewsroomHeaderDescription">
            {{ site.data.Newsroom.Newsroom.header.Description }}
          </div>
          <div class="NewsroomHeaderSubDescription">
            {{ site.data.Newsroom.Newsroom.header.SubDescription }}
          </div>

      </div>

      <div class="col NewsroomHeaderImage">
          <img scr="..{{ site.data.Newsroom.Newsroom.header.imagePath }}"/>     </div>
    </div>
  </div>
</div>
