<style>
.shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.SlickContainer {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

</style>



<!-- <div class="qitasc-light">
  <div class="container my-auto"  style="min-height: 300px;">
      <div id="slick-images">
          <div><img class="shadow" src="assets/img/WhereIntactExcels/1_Teaser.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/2_IFRS.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/3_IoT.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/4_Charging.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/5_Tariff.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/6_E2E.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/7_AcceptanceTesting.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/8_Migration.svg"></div>
      </div>
  </div>
</div> -->






<!--




$('.slick-center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});







<div style="background-color: #bfc2c9;">
  <div class="container my-auto" style="min-height: 300px;">
    <br>
      <div class="slick-center">
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/1_Teaser.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/2_IFRS.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/3_IoT.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/4_Charging.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/5_Tariff.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/6_E2E.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/7_AcceptanceTesting.svg"></div>
          <div><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/8_Migration.svg"></div>
      </div>
  </div>
</div>





<script>


$('#slick-center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});

</script> -->
