<a name="contact"></a>

<div class="subsection-grey" style="padding-top: 50px;">
  <div class="container">

  <div class="row">
    <div class="col"  style="float: right;">
        Contact us in Vienna:
        <p>
          {{ site.data.imprint.phonenumber }}<br>
          {{ site.data.imprint.email }}</a>
        </p>
        <p>
            {{ site.data.imprint.companyname }}<br>
            {{ site.data.imprint.street }} {{ site.data.imprint.streetnumber }}<br>
            {{ site.data.imprint.postalcode }} {{ site.data.imprint.city }} <br> {{ site.data.imprint.country }}
        </p>
        Contact us in Düsseldorf
        <p>
          {{ site.data.imprint.duesselphone }}<br>
          {{ site.data.imprint.duesselemail }}
        </p>
          Address
        <p>
            {{ site.data.imprint.duesselcompany }}<br>
            {{ site.data.imprint.duesselstreet }} {{ site.data.imprint.duesselstreetnumber }}<br>
            {{ site.data.imprint.duesselpostalcode }} {{ site.data.imprint.duesselcity }} <br> {{ site.data.imprint.duesselcountry }}

        </p>
        <p>
          Impressum
        </p>
        <p>
          {{ site.data.imprint.companyname }}<br>

          Inhaber:
          {% for owner in site.data.imprint.owners %}
          {{ owner }}{% unless forloop.last %},{% endunless %}
          {% endfor %}
          <br>

          FN {{ site.data.imprint.companynumber }} / Sitz {{ site.data.imprint.headoffice }} / {{ site.data.imprint.jurisdiction }}<br>
          <br>
          Concept and Layout:
          <br>EPU Anna Parisa Ehsani, <a href="http://www.aboutanna.at" target="_blank" class="newsroom-entry-ReadMore">www.aboutanna.at</a>
        </p>
    </div>

    <div class="col">

          <img src="{{ base_url }}/assets/img/contact/qitasc-location-vienna.svg" alt="Vienna"><br>
          {% capture fulladdress %}{{ site.data.imprint.street }} {{ site.data.imprint.streetnumber }}, {{ site.data.imprint.postalcode }} {{ site.data.imprint.city }}, {{ site.data.imprint.country }}{% endcapture %}
          <a href="https://maps.google.com/?q={{ fulladdress | url_encode }}" target="_blank">GoogleMaps Office Vienna</a>
    			<br>
    			<br>
    			<br>
    			<img src="{{ base_url }}/assets/img/contact/qitasc-location-duss.svg" alt="Duesseldorf"><br>
    			{% capture fulladdressduess %}{{ site.data.imprint.duesselstreet }} {{ site.data.imprint.duesselstreetnumber }}, {{ site.data.imprint.duesselpostalcode }} {{ site.data.imprint.duesselcity }}, {{ site.data.imprint.duesselcountry }}{% endcapture %}
    			<a href="https://maps.google.com/?q={{ fulladdressduess | url_encode }}" target="_blank">GoogleMaps Office Düsseldorf</a>

    </div>
  </div>

</div>
</div>
