<link rel="stylesheet" href="{{ base_url }}/assets/css/Team-Boxed.css">
<link rel="stylesheet" href="{{ base_url }}/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/webfonts.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/navBar.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/hero.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/Footer-Dark.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/new-age.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/reference.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/Projects-Horizontal.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/Highlight-Phone.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/products.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/subsection.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/contact.css">
<link rel="stylesheet" href="{{ base_url }}/assets/css/slick-theme.css">



<script src="{{ base_url }}/assets/js/jquery.min.js"></script>
<script src="{{ base_url }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ base_url }}/assets/js/theme.js"></script>
<script src="{{ base_url }}/assets/js/sticky.js"></script>
<script src="{{ base_url }}/assets/js/new-age.js"></script>
<script src="{{ base_url }}/assets/js/new-age.min.js"></script>
<script src="{{ base_url }}/assets/js/slick.js"></script>
