<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer_h3">QiTASC</div>
                        <ul>
                            <li><a href="{{ base_url }}/Services">Services</a></li>
                            <li><a href="{{ base_url }}/">Usecases</a></li>
                          </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer_h3">Products</div>
                        <ul>
                          <li><a href="{{ base_url }}/products/conQlude">conQlude</a></li>
                          <li><a href="{{ base_url }}/products/intaQtClient">intaQt Client</a></li>
                          <li><a href="{{ base_url }}/products/intaQtServer">intaQt Server</a></li>
                          <li><a href="{{ base_url }}/products/intaQtStudio">intaQt Studio</a></li>
                          <li><a href="{{ base_url }}/products/intaQtVerification">intaQt Verification</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer_h3">About Us</div>
                        <ul>
                            <li><a href="{{ base_url }}/contact">Contact</a></li>
                            <li><a href="{{ base_url }}/career">Careers</a></li>
                            <li><a href="{{ base_url }}/about/team">Team</a></li>
                            <li><a href="{{ base_url }}/about/philosophy">Philosophy</a></li>
                            <li><a href="{{ base_url }}/contact">Impressum</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer_h3">Resources</div>
                        <ul>
                            <li><a href="{{ base_url }}/newsroom">Newsroom</a></li>
                            <li><a target="_blank" href="https://docs.qitasc.com">Documentation</a></li>

                        </ul>
                    </div>
                </div>
                <p class="copyright">QiTASC © 2019</p>
            </div>
        </footer>
    </div>
