<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer_h3">Testing Services</div>
                        <ul>
                            <li><a href="{{ base_url }}/">Project-Based Services</a></li>
                            <li><a href="{{ base_url }}/">Corporate Testing</a></li>
                            <li><a href="{{ base_url }}/">Consulting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer_h3">Products</div>
                        <ul>
                            <li><a href="{{ base_url }}/">conQlude</a></li>
                            <li><a href="{{ base_url }}/">cheQ</a></li>
                            <li><a href="{{ base_url }}/">intaQt</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer_h3">About Us</div>
                        <ul>
                            <li><a href="{{ base_url }}/about/philosophy#contact">Impressum</a></li>
                            <li><a href="{{ base_url }}/about/philosophy#contact">Contact</a></li>
                            <li><a href="{{ base_url }}/about/career">Careers</a></li>
                            <li><a href="{{ base_url }}/about/privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <div class="footer_h3">Resources</div>
                        <ul>
                            <li><a target="_blank" href="https://docs.qitasc.com">Documentation</a></li>
                            <li><a href="{{ base_url }}/newsroom">Newsroom</a></li>

                        </ul>
                    </div>
                </div>
                <p class="copyright">QiTASC © 2019</p>
            </div>
        </footer>
    </div>
