<!-- <div class="row h-100"> -->
  <!--  Adapt here the 7 to shift in x axis, the my - auto centers the text according to the height -->
  <!-- <div class="col-lg-7 my-auto">
    <div class="header-content mx-auto">
      <h2 class="mb-5">The magic of testing</h2>
      <p>QiTASC's INTACT® automates your test project and improves test coverage to get your product to the market sooner.</p>
    </div>
  </div>
  <div class="col-lg-5 my-auto">
    <div class="device-container">
      <div class="device-mockup iphone6_plus portrait white">
        <div class="device">
          <div class="screen">
            < Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
            <img src="assets/img/INTACT_Server.png" class="img-fluid" alt="">
          </div>
            <div class="button">
           You can hook the "home button" to some JavaScript events or just remove it
          </div>
        </div>
      </div>
    </div>
  </div>

  The classes are named using the format {property}{sides}-{size} for xs and {property}{sides}-{breakpoint}-{size} for sm, md, lg, and xl.
  E.g.

  ICON AREA-->



  <!--###########################################################  MOBILE MOBILE ONLY -> until MD  ########################################################### -->
  <!--######################################################################################################################################## -->
  <div class="onlyMobile">
    <div class="row">
  <!--###########################################################  ICON LEFT, TEXT RIGHT ##################################################### -->
      <div class="container-fluid adaptions_1">
        <div class="row iconRow">
            <div class="col-4 col-custom-icon-left my-auto"><img class="rounded-circle" src="assets/img/vergleich.png"></div>
            <div class="col col-custom-text-right"><div class="iconTextHeader">Some Example Header With</div><div class="iconTextSub">Text here<br>Or line break if you wantOr line break if you want<br>test</div></div>
        </div>
      </div>

  <!--###########################################################  ICON RIGHT, TEXT LEFT ###################################################### -->
      <div class="container-fluid adaptions_2">
        <div class="row iconRow">
          <div class="col col-custom-text-left"><div class="iconTextHeader">Some Example Header With</div><div class="iconTextSub">Text here<br>Or line break if you want<br>test</div></div>
          <div class="col col-custom-icon-right"><img class="rounded-circle" src="assets/img/vergleich.png"></div>
        </div>
        </div>
  <!--###########################################################  ICON LEFT, TEXT RIGHT ##################################################### -->
      <div class="container-fluid adaptions_1">
        <div class="row iconRow">
            <div class="col-4 col-custom-icon-left my-auto"><img class="rounded-circle" src="assets/img/vergleich.png"></div>
            <div class="col col-custom-text-right"><div class="iconTextHeader">Some Example Header With</div><div class="iconTextSub">Text here</div></div>
        </div>
      </div>
  <!--###########################################################  ICON RIGHT, TEXT LEFT ###################################################### -->
      <div class="container-fluid adaptions_2">
        <div class="row iconRow">
          <div class="col col-custom-text-left"><div class="iconTextHeader">Some Example Header With</div><div class="iconTextSub">Text here</div></div>
          <div class="col col-custom-icon-right"><img class="rounded-circle" src="assets/img/vergleich.png"></div>
        </div>
        </div>


      </div>
  </div>
  <div class="onlyMobile">
  <div class="row">

      <div class="col"><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/1_Teaser.svg"></div>
      <div class="col"><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/2_IFRS.svg"></div>


  </div>
  <div class="row">
    <div class="col"><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/3_IoT.svg"></div>
    <div class="col"><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/4_Charging.svg"></div>
  </div>
  <div class="row">
      <div class="col"><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/5_Tariff.svg"></div>
      <div class="col"><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/6_E2E.svg"></div>
  </div>
  <div class="row">
      <div class="col"><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/7_AcceptanceTesting.svg"></div>
      <div class="col"><img class="whereIntactExcelsImg" src="assets/img/WhereIntactExcels/8_Migration.svg"></div>
  </div>
  </div>
  </div>
