
<div class="container-fluid">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">

              <div class="heroFontColorHeader">

                  <h3>the magic of testing</h3>

              </div>

              <div class="heroFontColorDescription">

                <p>QiTASC's INTACT® automates your test project and improves test coverage to get your product to the market sooner.</p>
                <p>We support diverse use cases, including core network testing, Internet of Things, charging conformity and backend testing.</p>

              </div>


        </div>
        <div class="col"><img class="heroImage" src="https://www.qitasc.com/img/philosophy/kju-vacuum.png"></div>
      </div>
      <div class="row backgroundcolorButtons">
          <div class="backgroundColorsWidth">
            <img id="buttonOrange" class="rounded-circle shadow" src="{{ site.baseurl }}/assets/images/circles/circleOrange.png">
            <img id="buttonDarkGrey" class="rounded-circle shadow" src="{{ site.baseurl }}/assets/images/circles/darkGrey.png">
            <img id="buttonLightGrey" class="rounded-circle shadow" src="{{ site.baseurl }}/assets/images/circles/lightGrey.png">
            <img id="buttonMiddleGrey" class="rounded-circle shadow" src="{{ site.baseurl }}/assets/images/circles/middleGrey.png">
            <img id="buttonWhite" class="rounded-circle shadow" src="{{ site.baseurl }}/assets/images/circles/white.png">
        </div>
      </div>

        <div class="whatDoYouWantToTest"> What do you want to test?</div>
    </div>
  </div>
</div>
