
<div class="container-fluid containerFluidMobile">

  <div class="container">
  <div class="heroHeader">

      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">

          <div class="heroFontColorHeader"><h3>the magic of testing</h3></div>
          <div class="heroFontColorDescription">
              <p>QiTASC's INTACT® automates your test project and improves test coverage to get your product to the market sooner.</p>
              <p>We support diverse use cases, including core network testing, Internet of Things, charging conformity and backend testing.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!--
< -->
