<!-- Latest minified jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/js/navigation.js"></script>
<script src="{{site.baseurl}}/assets/js/hero.js"></script>
<script src="{{site.baseurl}}/assets/js/wordcloud.js"></script>
<script src="{{site.baseurl}}/assets/js/usecases.js"></script>
