<!--  ########################################################################### -->
<!--  ########################################################################### -->
<!--  ####                                                                   #### -->
<!--  ####                                                                   #### -->
<!--  ####                    Top Header Container                           #### -->
<!--  ####                                                                   #### -->
<!--  ####                                                                   #### -->
<!--  ########################################################################### -->
<!--  ########################################################################### -->
{% if page.url contains "/products" or page.url contains "/articles" or page.url contains "/usecases"  %}
<div class="container-fluid stickyNavContainer">
{% else %}
<div class="container-fluid stickyNavContainer shadowBottom">
  {% endif %}
    <div class="container stickyNavSubContainer">
        <div class="row form-inline">
          <div class="LogoContainer">
              <div class="col"><a href="{{ site.baseurl }}/"><img class="Logo" src="{{ site.baseurl }}/assets/images/standalone.png"></a></div>
          </div>

                    <div class="col col-xs-4 buttonPadding">
                        <button id="toggleProducts" class="navigationButton">Products
                          <i class="arrow down"></i></button>
                    </div>
                    <div class="col col-xs-4 buttonPadding">
                        <button id="toggleServices" class="navigationButton" onclick="window.open('/Services','_self')">Services

                          <!-- <i class="arrow down"></i> -->

                        </button>
                    </div>
                    <div class="col col-xs-4 buttonPadding">
                        <button id="toggleSupport" class="navigationButton">Support
                          <i class="arrow down"></i></button>
                    </div>


        </div>
    </div>
</div>


<!--  ########################################################################### -->
<!--  ########################################################################### -->
<!--  ########################################################################### -->
<!--  ########################################################################### -->
<!--  ########################################################################### -->


<div class="wrapper">
  <div id="secondaryNavContainer">
      <div class="displayedContentProducts">
        {% include productSubMenu.html %}
      </div>
      <div class="displayedContentSupport">
        {% include supportSubMenu.html %}
      </div>
  </div>
  </div>
</div>


<div class="transparentOverlayOfContent" id="transparentOverlay"></div>








<!--  Services Sub Navigation -->
