<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">

    <div class="container">

      <a class="navbar-brand logo" href="{{ base_url }}/"><img class="navImgBrand" src="{{ base_url }}/assets/img/logos/standalone.jpg"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">


          <ul class="nav navbar-nav ml-auto" id="navUlItem">
              <li class="nav-item" role="presentation" id="navListItem"><a class="nav-link active" href="{{ base_url }}/">Home</a></li>

          <!--  ########################################################################################### -->
          <!--  ########################################################################################### -->
          <!--  ########################################################################################### -->
          <!--  ########################################################################################### -->
          <!--  ########################################################################################### -->
          <!--  PRODUCTS DROPDOWN -->
          <!--  ########################################################################################### -->
          <li class="nav-item dropdown" id="liNavBarDropDown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ base_url }}/Products/">Overview</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="#"><img class="companyLogo" src="{{ base_url }}/assets/img/logos/intaQt.png"></a>
              <a class="dropdown-item" href="#"><img class="companyLogo" src="{{ base_url }}/assets/img/logos/disQover.png"></a>
              <a class="dropdown-item" href="#"><img class="companyLogo" src="{{ base_url }}/assets/img/logos/analytiQs.png"></a>
              <a class="dropdown-item" href="#"><img class="companyLogo" src="{{ base_url }}/assets/img/logos/conQlude.png"></a>
              <a class="dropdown-item" href="#"><img class="companyLogo" src="{{ base_url }}/assets/img/logos/cheQ.png"></a>
              <a class="dropdown-item" href="#"><img class="companyLogo" src="{{ base_url }}/assets/img/logos/sQedule.png"></a>

              <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
          <!--  ########################################################################################### -->
          <!--  Services DROPDOWN -->
          <!--  ########################################################################################### -->
          <li class="nav-item dropdown" id="liNavBarDropDown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ base_url }}/Services/">Overview</a>
              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="{{ base_url }}/services/">Project-Based Testing</a>
              <a class="dropdown-item" href="{{ base_url }}/services/">Corporate Testing</a>
              <a class="dropdown-item" href="{{ base_url }}/services/">Consulting</a>

              <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
          <!--  ########################################################################################### -->
          <!--  ########################################################################################### -->

          <li class="nav-item" role="presentation" id="navListItem"><a class="nav-link active" href="{{ base_url }}/newsroom">Newsroom</a></li>



             <!-- li class="nav-item" role="presentation"><a class="nav-link active" href="#">Nav Item</a></li> -->


          <!--  ########################################################################################### -->
          <!--  ########################################################################################### -->
          <!--  About DROPDOWN -->
          <!--  ########################################################################################### -->
          <li class="nav-item dropdown" id="liNavBarDropDown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About Us
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="{{ base_url }}/about/philosophy">Philosophy</a>
              <a class="dropdown-item" href="{{ base_url }}/about/team">Our Management</a>
              <a class="dropdown-item" href="{{ base_url }}/about/careers">Careers</a>
              <a class="dropdown-item" href="{{ base_url }}/about/privacy">Privacy Policy</a>

              <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>


          <li class="nav-item" role="presentation" id="navListItem"><a class="nav-link active" href="{{ base_url }}/about/philosophy#contact">Contact Us</a></li>
          <li class="nav-item" role="presentation" id="navListItem"><a class="nav-link active" target="_blank" href="https://docs.qitasc.com">Documentation</a></li>
          </ul>
          <!--  ########################################################################################### -->
          <!--  ########################################################################################### -->

    </div>

</div>
</nav>
