<div class="col greyColumn">

        <!--  Close Button  -->
        <div class="row leftSideNavMenucloseButton">
            <img id="closeButtonID" class="closeButton" src="{{ site.baseurl }}/assets/images/navBar/x_1.png">
        </div>

        <div class="row leftSideNavMenuItem">Newsroom</div>
        <div class="row leftSideNavMenuItem">About</div>
        <div class="row leftSideNavMenuItem">Support</div>
        <div class="row leftSideNavMenuItem">Documentation</div>
        <div class="row leftSideNavMenuItem">Contact</div>
        <div class="row leftSideNavMenuItem">Impressum</div>

</div>
