<div class="container-fluid NewsroomSliderContainerFluid">
  <div class="container NewsroomSliderContainer">
    <div class="row">
      <div class="col">
        <div class="NewsroomText">
            <h2>QiTASC Newsroom</h2>
            <p>Explore articles, tutorial videos and interviews and get to know the QiTASC family.</p>
            <p>Experience the company and the magic behind our product INTACT®</p>
        </div>
      </div>

      <!--
      // ##################################################################################
      // ##################################################################################
      //                                                                            #######
      //            Create Random List of 4 Articles on DESKTOP VIEW                #######
      //                                                                            #######
      // ##################################################################################
      // ##################################################################################
      -->
      <div class="col responsiveDisplayDesktop">



        <div class="csslider infinity" id="slider1">

          <input type="radio" name="slides" checked="checked" id="slides_1"/>
          <input type="radio" name="slides" id="slides_2"/>
          <input type="radio" name="slides" id="slides_3"/>
          <input type="radio" name="slides" id="slides_4"/>

        <ul>
          {% assign siteArticles = site.articles | where: 'group', 'visible'%}
          {% assign siteArticlesX = siteArticles | sort: 'date' %}
          {% assign siteArticlesSorted = siteArticlesX | reverse %}


          {% assign article01 = siteArticlesSorted[0] %}
          {% assign article02 = siteArticlesSorted[8] %}
          {% assign article03 = siteArticlesSorted[2] %}
          {% assign article04 = siteArticlesSorted[3] %}


         {% for i in (1..4)%}

        <li>
          {% if forloop.index == 1 %}
            {% assign article = article01 %}
          {% endif %}

          {% if forloop.index == 2 %}
            {% assign article = article02 %}
          {% endif %}

          {% if forloop.index == 3 %}
            {% assign article = article03 %}
          {% endif %}

          {% if forloop.index == 4 %}
            {% assign article = article04 %}
          {% endif %}


          <div class="NewsroomSliderInnerContainer">

            <!-- {% if article.videoImg_url %}
            <a class="js-lightbox-video" data-videoid="video_{{ article.video_ref }}" href="https://www.youtube.com/watch?v={{ article.video_ref }}"><img src="../{{ article.videoImg_url }}"/></a>
            {% endif %} -->

                  <div class="newsroomSliderArticleTitle">{{ article.title }}</div>
                  <div class="NewsroomSecondaryHeader">{{ article.subtitleNewsroom }}</div>
                  <div class="NewsroomDate">{{ article.date | date: "%b %d, %Y" }}</div>
                  {% if article.img_url %}
                  <a href="../{{ site.baseurl }}articles/{{ article.link }}" target="_self"><img class="newsroomSliderImage" src="../{{ article.img_url }}"/></a>
                  {% endif %}
                  <div class="NewsroomSliderText">{{ article.subtext | truncate: 150 }}</div>
                  <div class="NewsroomSliderReadMore"><a href="../{{ site.baseurl }}articles/{{ article.link }}" target="_self">Read More</a></div>





          </div>

        </li>


        {% endfor %}
        </ul>








          <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>

            <label class="goto-first" for="slides_1"></label>
            <label class="goto-last" for="slides_4"></label>
          </div>
          <div class="navigation">
            <div>
              <label for="slides_1"></label>
              <label for="slides_2"></label>
              <label for="slides_3"></label>
              <label for="slides_4"></label>

            </div>
          </div>
        </div>
    </div>

    <!--
    // ##################################################################################
    // ##################################################################################
    //                                                                            #######
    //            Create Random List of 4 Articles on DESKTOP VIEW                #######
    //                                                                            #######
    // ##################################################################################
    // ##################################################################################
    -->


    <div class="responsiveDisplayMobile">
        <div class="container-fluid">
            <div class="row mobileSliderRow">

                <div class="col SliderContent">

                  <div class="newsroomSliderArticleTitleMobile">{{ article01.title }}</div>
                  <div class="NewsroomSecondaryHeaderMobile">{{ article01.subtitleNewsroom }}</div>
                  <div class="NewsroomDateMobile">{{ article01.date | date: "%b %d, %Y" }}</div>
                  {% if article01.img_url %}
                  <a href="../{{ site.baseurl }}articles/{{ article.link }}" target="_self"><img class="newsroomSliderImageMobile" src="../{{ article01.img_url }}"/></a>
                  {% endif %}

                  <!-- <div class="NewsroomSliderTextMobile">{{ article01.subtext | truncate: 150 }}</div>
                  <div class="NewsroomSliderReadMoreMobile"><a href="../{{ site.baseurl }}articles/{{ article01.link }}" target="_self">Read More</a></div> -->





                </div>


            </div>
          </div>
      </div>







    </div>
  </div>
</div>
