<div class="container-fluid" style="background-color: #ebeceb; padding: 60px; height: 600px; margin-top: 40px;">
  <div class="container" style="padding-top: 40px;">
    <div class="row">
      <div class="col">
        <div class="NewsroomText">
            <h2>QiTASC Newsroom</h2>
            <p>Explore articles, tutorial videos and interviews and get to know the QiTASC family.</p>
            <p>Experience the company and the magic behind our product INTACT®</p>
        </div>
      </div>
      <div class="col slider-background">
        <div id="slider-wrapper">
          <div class="inner-wrapper">
            <input checked type="radio" name="slide" class="control" id="Slide1" />
            <label for="Slide1" id="s1"></label>
            <input type="radio" name="slide" class="control" id="Slide2" />
            <label for="Slide2" id="s2"></label>
            <input type="radio" name="slide" class="control" id="Slide3" />
            <label for="Slide3" id="s3"></label>
            <input type="radio" name="slide" class="control" id="Slide4" />
            <label for="Slide4" id="s4"></label>
            <div class="overflow-wrapper">
              <div class="slide" href=""><img class="newsroomImage" src="{{ site.baseurl }}/assets/images/navBar/Products.png" /></div>
              <div class="slide" href=""><img class="newsroomImage" src="{{ site.baseurl }}/assets/images/Title_Header.svg"></div>
              <div class="slide" href=""><img class="newsroomImage" src="{{ site.baseurl }}/assets/images/kju-vacuum.png"></div>
              <div class="slide" href=""><img class="newsroomImage" src="{{ site.baseurl }}/assets/images/qitasc-logo.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
