<div class="row">

<!--
// ##################################################################################
//            MobileViewNavigation, visible below 768 px                     #######
// ##################################################################################
 -->


<div class="col leftPadding">

              <p><div class="navigationSecondaryHeader">{{ site.data.navigation.disQover.type }}</div></p>

              <div class="row rowProductIcons">
                <div class="col">
                  <div class="floatproduct disQover">
                      <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.disQover.iconLink }}">
                      <div class="productHeader">{{ site.data.navigation.disQover.title }}</div>
                  </div>
                  <div class="productShorterDescription">{{ site.data.navigation.disQover.shorterDescription }}</div>
                  <div class="productDescription">{{ site.data.navigation.disQover.shortDescription }}</div>
                </div>
              </div>


              <div class="row rowProductIcons">
                <div class="col">
                  <div class="floatproduct cheQ">
                      <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.cheQ.iconLink }}">
                      <div class="productHeader">{{ site.data.navigation.cheQ.title }}</div>
                  </div>
                  <div class="productShorterDescription">{{ site.data.navigation.cheQ.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.cheQ.shortDescription }}</div>
                </div>
              </div>
            <p><div class="navigationSecondaryHeader">{{ site.data.navigation.intaQt.type }}</div></p>
            <div class="row rowProductIcons">
              <div class="col">
                <div class="floatproduct intaQt">
                    <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.intaQt.iconLink }}">
                    <div class="productHeader">{{ site.data.navigation.intaQt.title }}</div>
                </div>
                <div class="productShorterDescription">{{ site.data.navigation.intaQt.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.intaQt.shortDescription }}</div>
              </div>
            </div>

            <div class="row rowProductIcons">
              <div class="col">
                <div class="floatproduct intaQt">
                    <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.studio.iconLink }}">
                    <div class="productHeader">{{ site.data.navigation.studio.title }}</div>
                </div>
                <div class="productShorterDescription">{{ site.data.navigation.studio.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.studio.shortDescription }}</div>
              </div>
            </div>

            <div class="row rowProductIcons">
              <div class="col">
                <div class="floatproduct intaQt">
                    <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.client.iconLink }}">
                    <div class="productHeader">{{ site.data.navigation.client.title }}</div>
                </div>
                <div class="productShorterDescription">{{ site.data.navigation.client.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.client.shortDescription }}</div>
              </div>
            </div>

            <div class="row rowProductIcons">
              <div class="col">
                <div class="floatproduct sQedule">
                    <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.sQedule.iconLink }}">
                    <div class="productHeader">{{ site.data.navigation.sQedule.title }}</div>
                </div>
                <div class="productShorterDescription">{{ site.data.navigation.sQedule.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.sQedule.shortDescription }}</div>
              </div>
            </div>
            <p><div class="navigationSecondaryHeader">{{ site.data.navigation.conQlude.type }}</div></p>

            <div class="row rowProductIcons">
              <div class="col">
                <div class="floatproduct conQlude">
                    <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.conQlude.iconLink }}">
                    <div class="productHeader">{{ site.data.navigation.conQlude.title }}</div>
                </div>
                <div class="productShorterDescription">{{ site.data.navigation.conQlude.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.conQlude.shortDescription }}</div>
              </div>
            </div>
            <div class="row rowProductIcons">
              <div class="col">
                <div class="floatproduct analytiQs">
                    <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.analytiQs.iconLink }}">
                    <div class="productHeader">{{ site.data.navigation.analytiQs.title }}</div>
                </div>
                <div class="productShorterDescription">{{ site.data.navigation.analytiQs.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.analytiQs.shortDescription }}</div>
              </div>
            </div>
</div>


<!--
    // ##################################################################################
    //            Desktop View of the Navigation over 768px                       #######
    // ##################################################################################
-->

<div class="col DesktopNavColFirst">


          <p><div class="navigationSecondaryHeader">{{ site.data.navigation.disQover.type }}</div></p>
          <div class="row rowProductIcons">
            <div class="col">
              <div class="floatproduct disQover">
                  <img class="productIcon" src="{{ site.baseurl }}/assets/images/productIcons/disQover_256x256.png">
                  <div class="productHeader">{{ site.data.navigation.disQover.title }}</div>
              </div>
              <div class="productShorterDescription">{{ site.data.navigation.disQover.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.disQover.shortDescription }}</div>
            </div>
          </div>


          <div class="row rowProductIcons">
            <div class="col">
              <div class="floatproduct cheQ">
                  <img class="productIcon" src="{{ site.baseurl }}/assets/images/productIcons/cheQ_256x256.png">
                  <div class="productHeader">{{ site.data.navigation.cheQ.title }}</div>
              </div>
              <div class="productShorterDescription">{{ site.data.navigation.cheQ.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.cheQ.shortDescription }}</div>
            </div>
          </div>
</div>


<div class="col DesktopNavCol">

        <p><div class="navigationSecondaryHeader">{{ site.data.navigation.intaQt.type }}</div></p>
        <div class="row rowProductIcons">
          <div class="col">
            <div class="floatproduct intaQt">
                <img class="productIcon" src="{{ site.baseurl }}{{ site.baseurl }}{{ site.data.navigation.intaQt.iconLink }}">
                <div class="productHeader">{{ site.data.navigation.intaQt.title }}</div>
            </div>
            <div class="productShorterDescription">{{ site.data.navigation.intaQt.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.intaQt.shortDescription }}</div>
          </div>
        </div>

        <div class="row rowProductIcons">
          <div class="col">
            <div class="floatproduct intaQt">
                <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.studio.iconLink }}">
                <div class="productHeader">{{ site.data.navigation.studio.title }}</div>
            </div>
            <div class="productShorterDescription">{{ site.data.navigation.studio.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.studio.shortDescription }}</div>
          </div>
        </div>

        <div class="row rowProductIcons">
          <div class="col">
            <div class="floatproduct intaQt">
                <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.client.iconLink }}">
                <div class="productHeader">{{ site.data.navigation.client.title }}</div>
            </div>
            <div class="productShorterDescription">{{ site.data.navigation.client.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.client.shortDescription }}</div>
          </div>
        </div>

        <div class="row rowProductIcons">
          <div class="col">
            <div class="floatproduct sQedule">
                <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.sQedule.iconLink }}">
                <div class="productHeader">{{ site.data.navigation.sQedule.title }}</div>
            </div>
            <div class="productShorterDescription">{{ site.data.navigation.sQedule.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.sQedule.shortDescription }}</div>
          </div>
        </div>

</div>


<div class="col DesktopNavColLast">

        <p><div class="navigationSecondaryHeader">{{ site.data.navigation.conQlude.type }}</div></p>

        <div class="row rowProductIcons">
          <div class="col">
            <div class="floatproduct conQlude">
                <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.conQlude.iconLink }}">
                <div class="productHeader">{{ site.data.navigation.conQlude.title }}</div>
            </div>
            <div class="productShorterDescription">{{ site.data.navigation.conQlude.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.conQlude.shortDescription }}</div>
          </div>
        </div>
        <div class="row rowProductIcons">
          <div class="col">
            <div class="floatproduct analytiQs">
                <img class="productIcon" src="{{ site.baseurl }}{{ site.data.navigation.analytiQs.iconLink }}">
                <div class="productHeader">{{ site.data.navigation.analytiQs.title }}</div>
            </div>
            <div class="productShorterDescription">{{ site.data.navigation.analytiQs.shorterDescription }}</div>
<div class="productDescription">{{ site.data.navigation.analytiQs.shortDescription }}</div>
          </div>
        </div>

</div>



<!--
    // ##################################################################################
    //            Grey Side Menu on Screen over 410px                             #######
    // ##################################################################################
-->
  {% include navigationRightSecondaryMenu.html %}

</div>
