<div class="projects-horizontal">
    <div class="container">
        <div class="intro"></div>
        <div class="row projects">
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"></a><img src="assets/img/projects/6-points-1.png"></div>
                    <div class="col">
                        <h3 class="name">Customer Loyalty</h3>
                        <p class="description">We help you boost customer loyalty through trust and credibility.<br></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"></a><img src="assets/img/projects/6-points-2.png"></div>
                    <div class="col">
                        <h3 class="name">Quality</h3>
                        <p class="description">We support you throughout the whole product development life cycle.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"></a><img src="assets/img/projects/6-points-3.png"></div>
                    <div class="col">
                        <h3 class="name">Cost and Time Effectiveness</h3>
                        <p class="description">Our tool saves you time and money while providing constant quality.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"></a><img src="assets/img/projects/6-points-4.png"></div>
                    <div class="col">
                        <h3 class="name">All-In-One Solutions</h3>
                        <p class="description">Our complete package covers the entire development life cycle.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"></a><img src="assets/img/projects/6-points-5.png"></div>
                    <div class="col">
                        <h3 class="name">Comprehensibility</h3>
                        <p class="description">We provide clear and practical documentation throughout the process.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 item">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="#"></a><img src="assets/img/projects/6-points-6.png"></div>
                    <div class="col">
                        <h3 class="name">Forecasting Ability</h3>
                        <p class="description">We assist you in predicting future workloads.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
