<div class="container-fluid qualitiesContainer">
  <div class="container">
    <div class="row">

        <div class="column qualitiesItem">
          <img class="qualitiesImage" src="{{ site.baseurl }}/assets/images/qualities/6-points-1.png">
          <div class="qualitiesHeader">Customer Loyalty</div>
          <div class="qualitiesText">We help you boost customer loyalty through trust and credibility.</div>
        </div>

        <div class="column qualitiesItem">
          <img class="qualitiesImage" src="{{ site.baseurl }}/assets/images/qualities/6-points-2.png">
          <div class="qualitiesHeader">Quality</div>
          <div class="qualitiesText">We support you throughout the whole product development life cycle.</div>
        </div>

        <div class="column qualitiesItem">
          <img class="qualitiesImage" src="{{ site.baseurl }}/assets/images/qualities/6-points-3.png">
          <div class="qualitiesHeader">Cost and Time Effectiveness</div>
          <div class="qualitiesText">Our tool saves you time and money while providing constant quality</div>
        </div>
    </div>
    <div class=row>
        <div class="column qualitiesItem">
          <img class="qualitiesImage" src="{{ site.baseurl }}/assets/images/qualities/6-points-4.png">
          <div class="qualitiesHeader">All-In-One Solutions</div>
          <div class="qualitiesText">Our complete package covers the entire development life cycle.</div>
        </div>

        <div class="column qualitiesItem">
          <img class="qualitiesImage" src="{{ site.baseurl }}/assets/images/qualities/6-points-5.png">
          <div class="qualitiesHeader">Comprehend and Excel</div>
          <div class="qualitiesText">We provide clear and practical documentation throughout the process.</div>
        </div>
        <div class="column qualitiesItem">
          <img class="qualitiesImage" src="{{ site.baseurl }}/assets/images/qualities/6-points-6.png">
          <div class="qualitiesHeader">Forecasting Ability</div>
          <div class="qualitiesText">We assist you in predicting future workloads.</div>
        </div>

    </div>
  </div>
</div>
