<div class="highlight-phone" style="background-color: #ebeceb;">
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="width: 200px;max-width: 462px;">
                <div class="intro"></div><img src="{{ base_url }}/assets/img/frontpage/SharingOurSuccess.png" style="width: 400px;"></div>
            <div class="col-sm-4" style="max-width: 60%;">
                <h2>Sharing our Success</h2>
                <p style="height: 94px;">Worldwide projects and successful collaborations with satisfied customers.<br><br> <br><br> <br><br><br></p>
            </div>
        </div>
    </div>
</div>

<div class="onlyBigScreen">
  <div class="brands">
    <div class="referencesImagesContainer">
      <img class="referencesImages p-5" src="assets/img/References/reference-vodafone.png">
      <img class="referencesImages p-5" src="assets/img/References/reference-7P.png">
      <img class="referencesImages p-5" src="assets/img/References/reference-cocus.jpg">
      <img class="referencesImages p-5" src="assets/img/References/reference-i-new.png">
      <img class="referencesImages p-5" src="assets/img/References/reference-ng4t.png">
      <img class="referencesImages p-5" src="assets/img/References/reference-optiva.png">
      <img class="referencesImages p-5" src="assets/img/References/reference-redknee.jpg">
      <img class="referencesImages p-5" src="assets/img/References/reference-sauer.png">
      <img class="referencesImages p-5" src="assets/img/References/reference-TUVrheinland.png">
      <img class="referencesImages p-5" src="assets/img/References/reference-tuwien.jpg">

    </div>
</div>
</div>

<div class="onlyMobile">
<ul class="nav d-flex p-4">
  <li class="nav-item p-4">
    <img class="referencesImagesMobile" src="assets/img/References/reference-vodafone.png">
  </li>
  <li class="nav-item p-4">
    <img class="referencesImagesMobile" src="assets/img/References/reference-7P.png">
  </li>
  <li class="nav-item p-4">
    <img class="referencesImagesMobile" src="assets/img/References/reference-i-new.png">
  </li>
  <li class="nav-item p-4">
    <img class="referencesImagesMobile" src="assets/img/References/reference-ng4t.png">
  </li>
  <li class="nav-item p-4">
    <img class="referencesImagesMobile" src="assets/img/References/reference-optiva.png">
  </li>
  <li class="nav-item p-4">
    <img class="referencesImagesMobile" src="assets/img/References/reference-redknee.jpg">
  </li>
  <li class="nav-item p-4">
  <img class="referencesImagesMobile" src="assets/img/References/reference-sauer.png">
  </li>
  <li class="nav-item p-4">
  <img class="referencesImagesMobile" src="assets/img/References/reference-TUVrheinland.png">
  </li>
  <li class="nav-item p-4">
  <img class="referencesImagesMobile" src="assets/img/References/reference-tuwien.jpg">
  </li>
</ul>
</div>
