<div class="container-fluid referencesContainer">
  <div class="container referencesBackgroundPicture">
    <div class="row">

      <div class="col referencesItem">
        <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/VodafoneLogo.png">
        <div class="referencesHeader"></div>
        <div class="referencesText">CDR Verification for CS and PS Core network. Type and field acceptance for prepaid IN services </div>
      </div>

        <div class="col col-xs-3 referencesItem">
          <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/reference01.png">
          <div class="referencesHeader"></div>
          <div class="referencesText">Operating concept for a TCoE</div>
        </div>

        <!-- <div class="col col-xs-3 referencesItem">
          <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/reference02.png">
          <div class="referencesHeader"></div>
          <div class="referencesText">Functional Acceptance Test Automation</div>
        </div> -->

        <div class="col col-xs-3 referencesItem">
          <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/reference03.png">
          <div class="referencesHeader"></div>
          <div class="referencesText">Virtualization of a prepaid IN service</div>
        </div>
    </div>

    <div class=row>
        <div class="col referencesItem">
          <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/reference04.png">
          <div class="referencesHeader"></div>
          <div class="referencesText">Network configuration & integration </div>
        </div>

        <!-- <div class="col referencesItem">
          <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/reference05.png">
          <div class="referencesHeader"></div>
          <div class="referencesText">Quality Assurance for automated testing </div>
        </div> -->
        <div class="col referencesItem">
          <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/reference06.png">
          <div class="referencesHeader"></div>
          <div class="referencesText">IoT Test Automation </div>
        </div>
        <div class="col referencesItem">
          <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/VodafoneLogo.png">
          <div class="referencesHeader"></div>
          <div class="referencesText">IoT Test Automation </div>
        </div>
        <div class="col referencesItem">
          <img class="referencesImage" src="{{ site.baseurl }}/assets/images/references/reference08.png">
          <div class="referencesHeader"></div>
          <div class="referencesText">IoT Test Automation </div>
        </div>


    </div>
  </div>
</div>
