<div class="usecaseIndividualContainerFluid">
  <div class="container">
    <div class="useCaseDesktopContainer">
      <div class="usecaseSectionHeader">What do you want to test?</div>
        <div class="row usecaseRow">

              {% for usecase in site.data.usecasesFrontPage %}



            <div class="col-md-3 col-sm-4 col-6">
                  <a href="{{ site.baseurl }}/usecases/{{ usecase.link }}">
                    <div class="usecaseIndividualContainer">

                        <img class="image-container" src="{{ site.baseurl }}/{{ usecase.imagePath }}">

                        <div class="caption">
                          <p><div class="usecaseHeader">{{ usecase.usecase }}</div></p>
                          <p><div class="usecaseDescription">{{ usecase.description }}</div></p>

                        </div>

                  </div>
                </a>

            </div>
              {% endfor %}
      </div>
    </div>
  </div>
</div>
