<div class="container">
  <div style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
    <h2>USE CASES</h2>
  </div>
    <div class="row">

            {% for usecase in site.data.usecases %}

            <div class="col-md-3">
              <div class="thumbnail">
                <a href="#" target="_blank" style="text-decoration: none;">

                  <img class="image-container" src="{{ site.baseurl }}/{{ usecase.imagePath }}" alt="Lights" style="width:100%">
                  <div class="caption">
                    <p><div class="usecaseHeader">{{ usecase.usecase }}</div></p>
                    <p><div class="usecaseDescription">{{ usecase.description }}</div></p>
                    <p><div class="usecaseReadMore">Read More</div></p>
                  </div>
                </a>
              </div>
            </div>
            {% endfor %}


    </div>


</div>


</br>
