<!-- <canvas id="world"> -->

    <div class="container-fluid containerStyle">
      <div class="container">

        <div id="tegcloud" class="row">
          <div class="col">
            <a href="#" class="hoverWord">IFRS</a>
            <a href="#" class="hoverWord">Mobile</a>
            <a href="#" class="hoverWord">Network</a>
            <a href="#" class="hoverWord">Back-End</a>
            <a href="#" class="hoverWord">Software</a>
            <a href="#" class="hoverWord">Protocol</a>
            <a href="#" class="hoverWord">Charging Conformity</a>
            <a href="#" class="hoverWord">Apptesting</a>
            <a href="#" class="hoverWord">Offline Verification</a>
            <a href="#" class="hoverWord">Speech Channel Monitoring</a>
            <a href="#" class="hoverWord">Big Data</a>
            <a href="#" class="hoverWord">Webtesting</a>
            <a href="#" class="hoverWord">Hardware</a>
            <a href="#" class="hoverWord">Internet of Things</a>
            <a href="#" class="hoverWord">Industry 4.0</a>
            <a href="#" class="hoverWord">IFRS</a>
            <a href="#" class="hoverWord">Mobile</a>
            <a href="#" class="hoverWord">Network</a>
            <a href="#" class="hoverWord">Back-End</a>
            <a href="#" class="hoverWord">Software</a>
            <a href="#" class="hoverWord">Protocol</a>
            <a href="#" class="hoverWord">Charging Conformity</a>
            <a href="#" class="hoverWord">Apptesting</a>
            <a href="#" class="hoverWord">Offline Verification</a>
            <a href="#" class="hoverWord">Speech Channel Monitoring</a>
            <a href="#" class="hoverWord">Big Data</a>
            <a href="#" class="hoverWord">Webtesting</a>
            <a href="#" class="hoverWord">Hardware</a>
            <a href="#" class="hoverWord">Internet of Things</a>
            <a href="#" class="hoverWord">Industry 4.0</a>
          </div>
          </div>
        </div>

      </div>
    </div>

<!-- </canvas> -->
