

        <!--  Close Button  -->
        <div class="row leftSideNavMenucloseButton">
            <img class="closeButton" src="{{ site.baseurl }}/assets/images/navBar/x_1.png">
        </div>

        {% for item in site.data.navigation.RightSecondaryMenu %}
            {% if item.SubMenuTitle contains "Newsroom" %}
              <div class="row leftSideNavMenuItemNewsroom"><a href="{{ site.baseurl }}/{{ item.link }}">{{ item.SubMenuTitle }}</a></div>
            {% else %}
              <div class="row leftSideNavMenuItem"><a href="{{ site.baseurl }}/{{ item.link }}">{{ item.SubMenuTitle }}</a></div>
            {% endif %}
        {% endfor %}

        <div class="row leftSideNavMenuItemDocumentation"><a href="{{ site.data.navigation.Documentation.link }}">{{ site.data.navigation.Documentation.SubMenuTitle }}</a></div>
