---
layout: default
title: Team
permalink: /about/team
main: true
priority: 11
---

{% assign Team = site.data.about.team.Hero %}


<div class="container-fluid TeamContainerFluid">
  <div class="container TeamContainer">
    <div class="row">

      <div class="col">
      </div>

      <div class="col-8">
          <h4>{{ Team.teamHeader }}</h4>
          <div class="TeamHerosubtext">
              {{ Team.teamText }}
          </div>
      </div>

      <div class="col">
      </div>

        </div>
      </div>
    </div>
</div>

{% assign ManagementDescription = site.data.about.team.ManagementDescription %}
<div class="container-fluid ManagementContainerFluid">
  <div class="container ManagementContainer">

    <div class="row">
          <div class="col">
          </div>

          <div class="col-8">
              <h4>{{ ManagementDescription.title }}</h4>
              <div class="ManagementSubtitle">
                  <!-- {{ ManagementDescription.subtitle }} -->
              </div>
          </div>

          <div class="col">
          </div>
      </div>

      <div class="row">

          {% for person in site.data.about.team.Management %}

          <div class="col">

            <div class="ManagementImageBox">
              <img src="{{site.baseurl }}/{{ person.imagePath }}"/>
            </div>

            <br>

            <div class="ManagementTitle">
                {{ person.title}}
            </div>
            <div class="ManagementDescription">
              {{ person.subtitle }}
          </div>

      </div>


          {% endfor %}


        </div>
      </div>
    </div>
</div>

{% include about/departments.html %}
