.brands {
  color: #313437;
  background-image: url("../../assets/img/00_Skyline.svg");
  background-color: #fff;
  background-size: 60%;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 300px;
  min-height: 600px;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

@media (max-width: 769px) {
  .header-blue {
    min-height: 1000px;
  }
}

@media (min-width: 576px) {
  .test-img {
    width: 1%;
  }
}

@media (max-width: 576px) {
  .brands {
    background-color: white;
    background-image: none;
    padding-bottom: 50px;
    min-height: 400px;
  }
}

@media (max-width: 360px) {
  .brands a img {
    padding-bottom: 20px;
    transition: 1s;
  }
}

.imageReferenceUK:hover {
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}

.imageReference:hover {
  -webkit-filter: brightness(49%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
  -ms-filter: brightness(50%);
  filter: brightness(50%);
}

.imageReferenceUK {
  -webkit-transition: all 2s ease;
  transition: all 0.5s ease;
  -webkit-filter: brightness(90%);
  -moz-filter: brightness(90%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(90%);
  filter: brightness(90%);
}

.imageReference {
  -webkit-transition: all 2s ease;
  transition: all 0.5s ease;
  -webkit-filter: brightness(90%);
  -moz-filter: brightness(90%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(90%);
  filter: brightness(90%);
}

.IntactExcels {
  width: 110%;
}

.TeaserHeaderText {
  text-align: center;
  width: 100%;
  color: #f7941e;
  font-weight: 600;
  padding-left: 10px;
}

.IntactExcels:hover {
  opacity: 0.3;
  transition: all 1s ease;
}

