/*  Okay this is to get rid of the padding of the bootstrap container fluid */
.container-fluid {
  padding: 0px !important;
}

/* get away the dotted lines in moz */
input::-moz-focus-inner {
  border: 0 !important;
	outline: none !important;
}
a:active {
  outline: none !important;
  border: 0 !important;
}
a {

outline: medium none !important;
}
button:active {
  outline: none !important;
  border: 0 !important;
}
button {
  outline: medium none !important;
}
