@media (min-width: 562px) and (max-width: 768) {
  .header-blue {
  }
}

htmlinput::-moz-focus-inner {
  border: 0;
  outline: none;
}

a:active {
  outline: none;
  border: 0;
}

a {
  outline: medium none !important;
}

:root {
}

