input::-moz-focus-inner {
  border: 0;
	outline: none;
}
a:active {
    outline: none;
		border: 0;
}
a {
outline: medium none !important;
}

@import url("//hello.myfonts.net/count/319859");

@font-face {
	font-family: 'AvenirLT';
	src: url('../webfonts/319859_6_0.eot');
	src: url('../webfonts/319859_6_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/319859_6_0.woff2') format('woff2'), url('../webfonts/319859_6_0.woff') format('woff'), url('../webfonts/319859_6_0.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLT';
	src: url('../webfonts/319859_3_0.eot');
	src: url('../webfonts/319859_3_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/319859_3_0.woff2') format('woff2'), url('../webfonts/319859_3_0.woff') format('woff'), url('../webfonts/319859_3_0.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirLT';
	src: url('../webfonts/319859_B_0.eot');
	src: url('../webfonts/319859_B_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/319859_B_0.woff2') format('woff2'), url('../webfonts/319859_B_0.woff') format('woff'), url('../webfonts/319859_B_0.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirLT';
	src: url('../webfonts/319859_5_0.eot');
	src: url('../webfonts/319859_5_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/319859_5_0.woff2') format('woff2'), url('../webfonts/319859_5_0.woff') format('woff'), url('../webfonts/319859_5_0.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
