.useCaseContainer {
  padding-top: 30px;
}

.usecaseSectionHeader {
  font-size: 40px !important;
  font-weight: bold;
  text-align: center;
  padding: 50px !important;
  color: #f7941e  !important;

}

.image-container {
  filter: brightness(100%);
  transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -ms-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.image-container:hover {
  filter: brightness(105%);
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
}

.usecaseHeader {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-left: 3px;


}
.usecaseHeader:hover, .usecaseDescription:hover {
  text-decoration: none;
}
.usecaseDescription {
  color: #bfc2c9;
  font-size: 14px;
  font-weight: bold;
  padding-left: 3px;

}

.usecaseReadMore {
  color: #f7941e;
}
