{% assign Features=include.Features %}


<div class="spacerForFeatures">
        {% for feature in Features %}

        <div class="container-fluid containerFluidFeatures-{{ forloop.index }}">
          <div class="container">

            <div class="row mainFeatureRow">
              <div class="col mainFeatureImageColumn">
                {% if feature.screenshot %}
                    <img class="mainFeatureScreenshot" src="{{ site.baseurl }}/{{ feature.screenshot }}"/>
                {% endif %}
              </div>

              <div class="col mainFeatureHeaderColumn">

                <div class="mainFeatureHeader">
                  {% if feature.title %}
                      {{ feature.title }}
                  {% endif %}
                </div>

                <div class="mainFeatureSubTitle">
                  {% if feature.subtitle %}
                      {{ feature.subtitle }}
                  {% endif %}
                </div>
              </div>
          </div>
{% comment %}
<!--


// ##################################################################################
// ##################################################################################
//                                                                            #######
//            Subfeatures                                                     #######
//            Lets loop over all Subfeatures of a Mainfeature                 #######
//            and put them in 3 colums like Newsroom/index.html               #######
//                                                                            #######
// ##################################################################################
// ##################################################################################
 -->
{% endcomment %}

            {% for k in (1..3)%}

                <div class="col subFeaturesContainerColumn">



                {% for subfeature in feature.subfeatures %}
                    {% assign j = forloop.index | modulo: 3 %}
                    {% assign i = forloop.index %}
                    {% assign x = j | plus: 1 %}
                    {% assign y = k | plus: 1 %}
                    {% assign z = y | times: 1.0 %}

                    {% assign checker = x | divided_by: z %}
                    {% assign checker_2 = checker | times: 4.0 %}




                    {% if checker == 1 or checker_2 == 1 %}
  <!--
// ##################################################################################
                  //  Put the Sub Features here:  #######
// ##################################################################################
-->
                    <div class="productsSubFeatureContainer">
                      <div class="row">
                            <div class="col">
                                <div class="titleSubfeatures">{{ subfeature.title }}</div>
                                <div class="subtitleSubfeatures">{{ subfeature.subtitle}}</div>
                            </div>
                            <div class="col">
                                <img class="subfeatureImage" src="{{ site.baseurl }}{{ subfeature.screenshot }}"/>
                            </div>
                      </div>
                    </div>



                    {% else %}
                      {% continue %}
                    {% endif %}



                {% endfor %}
                </div>

            {% endfor %}


          </div>
        </div>

{% endfor %}
</div>
