<!-- ############################################################################
//                                                                      #########
//  Lets get the whole Hero of <product name> in the var Hero           #########
//                                                                      #########
// ########################################################################## -->

{% assign Hero=include.Hero %}

<!-- ############################################################################
//                                                                      #########
//  Build the Container for the Hero in Desktop View                     #########
//                                                                      #########
// ########################################################################## -->

<div class="container-fluid heroProductsDesktop">
	<div class="marginToggleStage02">
	<div class="container">


		<div class="row">
			<div class="col">
					<img id="productsHeroIcon" src="{{ Hero.iconPath }}"/>
			</div>

			<div class="col">

				<div class="row">

					<img class="LogoImage" src="{{ Hero.logoPath }}"/>

				</div>

				<div class="row">
					<div class="productHeroShortDescription">
							{{ Hero.shortDescription}}
					</div>
					<div class="subHeaderContainer">
						{{ Hero.softwareText}}
					</div>
				</div>
			</div>
		</div>


 </div>
 </div>
</div>

<!-- ############################################################################
//                                                                      #########
//  Build the Container for the Hero in Mobile View                     #########
//                                                                      #########
// ########################################################################## -->

<div class="container-fluid heroProductsMobile">
	<div class="container">


		<div class="row">
			<div class="col">
				<img class="LogoImage" src="{{ Hero.logoPath }}"/>
			</div>

		</div>
		<div class="row">
				<div class="col-8">
					<div class="productHeroSecondary">
						<img id="productsHeroIcon" src="{{ Hero.iconPath }}"/>
						<div class="productHeroShortDescription">
								{{ Hero.shortDescription}}
						</div>
					</div>
				</div>
		</div>


		<div class="row">
			<div class="col">
					<div class="subHeaderContainer">
						{{ Hero.softwareText}}
					</div>
				</div>
		</div>

 </div>
</div>
