
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% include css.html %}
    <title>QiTASC's Career Center</title>

</head>

{% include navigation.html %}

<body>
    <div class="team-boxed">
        <div class="container" style="padding-bottom: 400px;">
            <div class="intro">
                <h2 class="text-center">QiTASC's Career Center</h2>
                <p class="text-center">Join our collaborative team of great minds in making great automation tools. Let this job description be your future career!</p>
                <p class="text-center">QiTASC excels in end-to-end test automation of complex system landscapes. To maintain our high quality, we grow selectively. At QiTASC, everybody matters in contributing to our success. Join our team and be part of our exciting future!</p>

            </div>
        </div>
    </div>

{% include footer.html %}
</body>

</html>
