<!DOCTYPE html>
<html id="no-fouc" lang="en" class="no-js">

<!--  Setting Parameter -->

  {% include head.html %}

  <header>

    {% include navigation.html %}
  </header>

<body>

    <!--  Lets get the nice transition for the Background -->
    <div class="firstGradient">
    </div>
    <div class="secondGradient">
    </div>

    <!-- Main Section for the layout's holder -->
    <main>

        {{ content }}

    </main>




{% include javascripts.html %}
  </body>

  <footer>
    {% comment %}{% include footer.html %}{% endcomment %}
  </footer>

</html>
