
        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">56K Connection</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_56K.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Analysis</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Analysis.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Network Verification</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Antenne.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Audio Verification</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Audio.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Webtesting</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Browser.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Webtesting2</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Browser2.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Cloud Upload Download</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_CloudUpload.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Acceptance Testing</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Code.png"></div>
        </div>

    </div>

    <div class="row">


        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Connection Testing</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Connection.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Data Analysis</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_DataAnalysis.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Backend Testing</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_DB.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Finance01</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Finance.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Finance02</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Finance2.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Finance03</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Finance3.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">INternet of Things</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_IoT.png"></div>
        </div>


        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Mobile Testing</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Mobile.png"></div>
        </div>




    </div>

    <div class="row">

      <div class="col">
        <div class="IconTextContainer"><div class="row"><div class="TextTransform">App Testing</div></div></div>
        <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_MobileApp.png"></div>
      </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Voice Transmission Testing</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_MobileCall.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Telephone Line</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Modem.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Network Testing</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Network.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Phone Icon Example</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Phone.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Robotics Automation Testing</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Production.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Satellite Icon Testing</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Satellit.png"></div>
        </div>

        <div class="col">
          <div class="IconTextContainer"><div class="row"><div class="TextTransform">Sensor Hardware</div></div></div>
          <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Sensor.png"></div>
        </div>


    </div>

    <div class="row">

      <div class="col">
        <div class="IconTextContainer"><div class="row"><div class="TextTransform">Backend Testing</div></div></div>
        <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Server.png"></div>
      </div>

      <div class="col">
        <div class="IconTextContainer"><div class="row"><div class="TextTransform">Snom Phones</div></div></div>
        <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Snom.png"></div>
      </div>

      <div class="col">
        <div class="IconTextContainer"><div class="row"><div class="TextTransform">Snom Phones</div></div></div>
        <div class="row"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Transfer.png"></div>
      </div>
