<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <!-- Check the main custom responsive functions for responsive here -->
    {% include css.html %}

</head>

<body>







{% include navigation.html %}



<header class="masthead">
  <div class="container" id="heroId">

    <div class="row" style="padding-bottom: 20px;">
      <div class="col-lg-7">

      <div class="header-content mx-auto">
        <h2 class="mb-5">the magic of testing</h2>
        <p>QiTASC's INTACT® automates your test project and improves test coverage to get your product to the market sooner.</p>

      </div>
      </div>
      <div class="device-container">
        <div class="device-mockup iphone6_plus portrait white">
          <div class="device">
            <div class="screen">

              <img src="assets/img/INTACT_Server.png" class="img-fluid" alt="">
            </div>

          </div>
      </div>
      </div>
    </div>

<!--###########################################################  MOBILE MOBILE ONLY -> above MD  ########################################################### -->
<!--######################################################################################################################################## -->
<div class="container my-auto" style="width: 75%; padding-bottom: 30px;">
    <div class="WhatDoYouWantToTest">What do you want to test?</div>
</div>

<div class="onlyBigScreen">
    <div class="container">
        <div class="row">
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_56K.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Analysis.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Antenne.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Audio.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Browser.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Browser2.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_CloudUpload.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Code.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Server.png"></div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Connection.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_DataAnalysis.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_DB.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Finance.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Finance2.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Finance3.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_IoT.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Mobile.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Snom.png"></div>
      </div>
      <div class="row" style="padding-top: 20px;">
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_MobileApp.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_MobileCall.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Modem.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Network.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Phone.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Production.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Satellit.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Sensor.png"></div>
            <div class="col"><img class="rounded-circle" src="{{ base_url }}/assets/img/frontpage/Icon_Transfer.png"></div>
      </div>

      <div class="row" style="padding-top: 20px;">
          <div class="col">
              <div class="row"><div class="UsecasesHeader">Acceptance Testing</div></div>
              <div class="row"><img class="Usecases" src="{{ base_url }}/assets/img/frontpage/Usecases/UC_Acceptance.png"></div>
              <div class="row"><div class="UsecasesDescription">These are some descriptions we will probably use</div></div>
          </div>
          <div class="col">
              <div class="row"><div class="UsecasesHeader">Backend API</div></div>
              <div class="row"><img class="Usecases" src="{{ base_url }}/assets/img/frontpage/Usecases/UC_BackendAPI.png"></div>
              <div class="row"><div class="UsecasesDescription">These are some descriptions we will probably use</div></div>
          </div>
          <div class="col">
              <div class="row"><div class="UsecasesHeader">Charging Comformity</div></div>
              <div class="row"><img class="Usecases" src="{{ base_url }}/assets/img/frontpage/Usecases/UC_Charging.png"></div>
              <div class="row"><div class="UsecasesDescription">These are some descriptions we will probably use</div></div>
          </div>
          <div class="col">
              <div class="row"><div class="UsecasesHeader">Core Network Testing</div></div>
              <div class="row"><img class="Usecases" src="{{ base_url }}/assets/img/frontpage/Usecases/UC_CoreNW.png"></div>
              <div class="row"><div class="UsecasesDescription">These are some descriptions we will probably use</div></div>
          </div>
      </div>
      <div class="row" style="padding-top: 20px;">
          <div class="col">
              <div class="row"><div class="UsecasesHeader">E2E</div></div>
              <div class="row"><img class="Usecases" src="{{ base_url }}/assets/img/frontpage/Usecases/UC_E2E.png"></div>
              <div class="row"><div class="UsecasesDescription">These are some descriptions we will probably use</div></div>
          </div>
          <div class="col">
              <div class="row"><div class="UsecasesHeader">IFRS Testing</div></div>
              <div class="row"><img class="Usecases" src="{{ base_url }}/assets/img/frontpage/Usecases/UC_IFRS.png"></div>
              <div class="row"><div class="UsecasesDescription">These are some descriptions we will probably use</div></div>
          </div>
          <div class="col">
              <div class="row"><div class="UsecasesHeader">Internet of Things</div></div>
              <div class="row"><img class="Usecases" src="{{ base_url }}/assets/img/frontpage/Usecases/UC_IoT.png"></div>
              <div class="row"><div class="UsecasesDescription">These are some descriptions we will probably use</div></div>
          </div>
          <div class="col">
              <div class="row"><div class="UsecasesHeader">Protocol Testing</div></div>
              <div class="row"><img class="Usecases" src="{{ base_url }}/assets/img/frontpage/Usecases/UC_Protocol.png"></div>
              <div class="row"><div class="UsecasesDescription">These are some descriptions we will probably use</div></div>
          </div>
      </div>
  </div>
</div>


</header>


{% include projects.html %}
{% include reference.html %}

{% include footer.html %}
</body>

</html>
