
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% include css.html %}
    <title>QiTASC's Management</title>

</head>

{% include navigation.html %}

<body>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">QiTASC's Management</h2>
                <p class="text-center">Developing complex automation testing solutions requires expertise that covers different fields of knowledge. Here at QiTASC, our international team consists of people with diverse technical backgrounds that allow us to work across disciplines to create powerful INTACT features
</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="teamImages" src="{{ base_url }}/assets/img/team/michael.png">
                        <h3 class="name">Michael</h3>
                        <p class="title">CEO</p>
                        <p class="description">Michael is a passionate engineer and drives the development of INTACT® to create the best test automation tool available.

His focus is on an integral approach regarding test automation that also helps QiTASC's customers to maintain a high level of quality required by their modern and increasingly complex services
</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                    <div class="box"><img class="teamImages" src="{{ base_url }}/assets/img/team/nilou.png">
                        <h3 class="name">Nilou</h3>
                        <p class="title">Executive Assistant</p>
                        <p class="description">Nilou gives Michael, Denise and Can along with the whole team the necessary support as a reliable center for communication and assistance.

She represents QiTASC at international fairs and congresses.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">

                  <div class="box"><img class="teamImages" src="{{ base_url }}/assets/img/team/denise.png">
                      <h3 class="name">Denise</h3>
                      <p class="title">CEO</p>
                      <p class="description">Denise uses her professional background in the real estate industry to add unique perspectives and approaches to problem solving for optimal project development. She coordinates and oversees testing projects located all over the world – from Germany to Bangladesh.
                  </p>
                      <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                  </div>


                </div>
                <div class="col-md-6 col-lg-4 item">
                  <div class="box"><img class="teamImages" src="{{ base_url }}/assets/img/team/can.png">
                      <h3 class="name">Can</h3>
                      <p class="title">Chief Marketing Officer</p>
                      <p class="description">Can represents QiTASC as a first point of contact for interested parties.

                  As former director at Siemens and technical sales consultant, Can uses his professional background to educate people about test automation using INTACT® and how it can be incorporated to suit customers’ different and complex environments.</p>
                      <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% include footer.html %}
</body>

</html>
