<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  {% include css.html %}
</head>

  {% include navigation.html %}
  <body>

    <div class="container">

      <div class="qitasc-light qitasc-newsroom-introduction-header">
          <div class="row">
              <div class="col-xs-offset-1 col-md-offset-5 col-xs-10 col-md-6"></br>
                  <div class="qitasc-message-newsroom">
      							<h2>QiTASC Newsroom</h2>
      							<p>Explore articles, tutorial videos and interviews and get to know the QiTASC family, the company and the magic behind our product <span class="orange">IN</span>TACT<sup>®</sup></p>
      							<p>Find more information in the <a class="more" target="_blank" href="https://docs.qitasc.com/"><span class="orange">IN</span>TACT<sup>®</sup> Resource Center</a></p>
      						</div>
              </div>
          </div>
      </div>


      <div class="qitasc-automation-header-desktop">
      <div class="qitasc-white qitasc-automation-header-index">
          <div class="col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-8 m-b-1">
      		  <div class="qitasc-message-newsroom">
      				<h2><span class="orange">Automation Insights</span></h2>
      				<p>Welcome to the QiTASC Newsroom! Every week, we’ll be sharing new content about our product, our company and test automation in general. Some of the different topics you’ll find here include:</p> <br>

      							<li><i><b>How-To Guides & Learning</i></b>
      								<p>These guides provide step-by-step instructions to help you find out about and learn how to use specific <span class="orange">IN</span>TACT<sup>®</sup> features.</p></li>
      							<li><i><b>New Feature</i></b>
      								<p>We provide you with an in-depth look into the most exciting new features we’re introducing.</p></li>
      							<li><i><b>Get to Know <span class="orange">IN</span>TACT<sup>®</sup></i></b>
      								<p>Find out about existing features, what they do and why you should use them.</p></li>
      							<li><i><b>Get to Know QiTASC</b></i>
      								<p>Learn about the people who help bring the magic of <span class="orange">IN</span>TACT<sup>®</sup> to life!</p></li>
      							<li><i><b>Videos</b></i>
      								<p>See how <span class="orange">IN</span>TACT<sup>®</sup> looks in action and learn some tips and tricks from our experts.</p></li>

      						</div>
      				</div>
      		</div>
      </div>
      <div class="qitasc-automation-header-phone">
      	<div class="qitasc-white qitasc-automation-header-index">
      	    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 m-b-1">
      				<div class="qitasc-message-newsroom">
      					<h2><span class="orange">Automation Insights</span></h2>
      					<p>Welcome to the QiTASC Newsroom! Every week, we’ll be sharing new content about our product, our company and test automation in general. Some of the different topics you’ll find here include:</p>


      							<input id="collapsible-01" class="toggle" type="checkbox">
      							<label for="collapsible-01" class="lbl-toggle">How-To Guides & Learning</label>
      									<div class="collapsible-content">
      												<p>These guides provide step-by-step instructions to help you find out about and learn how to use specific <span class="orange">IN</span>TACT<sup>®</sup> features.</p>
      									</div>
      							<input id="collapsible-02" class="toggle" type="checkbox">
      							<label for="collapsible-02" class="lbl-toggle">New Feature</label>
      									<div class="collapsible-content">
      												<p>We provide you with an in-depth look into the most exciting new features we’re introducing.</p>
      					   			</div>
      							<input id="collapsible-03" class="toggle" type="checkbox">
      							<label for="collapsible-03" class="lbl-toggle">Get to Know <span class="orange">IN</span>TACT<sup>®</sup></label>
      									<div class="collapsible-content">
      												<p>Find out about existing features, what they do and why you should use them.</p>
      									</div>
      							<input id="collapsible-04" class="toggle" type="checkbox">
      							<label for="collapsible-04" class="lbl-toggle">Get to Know QiTASC</label>
      									<div class="collapsible-content">
      												<p>Learn about the people who help bring the magic of <span class="orange">IN</span>TACT<sup>®</sup> to life!</p>
      									</div>
      							<input id="collapsible-05" class="toggle" type="checkbox">
      							<label for="collapsible-05" class="lbl-toggle">Videos</label>
      									<div class="collapsible-content">
      												<p>See how <span class="orange">IN</span>TACT<sup>®</sup> looks in action and learn some tips and tricks from our experts.</p>
      									</div>

      				</div>
      			</div>
      	</div>
      </div>

    </div>


<div class="container">

  <div id="wrap-centered-container">
  	<div id="wrap">
  {% for i in (1..3)%}

        <div id="each">

  			{% assign counterJump = 0 %}
  			{% assign siteArticles = site.articles | where: 'group', 'visible'%}
        {% assign siteArticlesSorted = siteArticles | sort: 'date' %}
        {% assign siteArticlesSortedReversed = siteArticlesSorted | reverse %}
        {% for article in siteArticlesSortedReversed %}

        {% assign columnIndex = forloop.index | modulo: 3 %}
        {% if i == 3 %}
          {% assign newIndex = 0 %}
        {% else %}
          {% assign newIndex = i %}
        {% endif %}
        {% if columnIndex != newIndex %}
          {% continue %}
        {% else %}




                          <div class="qitasc-newsroom-container-entry">
  													{% if article.img_url %}
                            <a href="../{{ site.baseurl }}articles/{{ article.link }}" target="_self"><img src="../{{ article.img_url }}"/></a>
                            {% endif %}
                            {% if article.videoImg_url %}
                            <a class="js-lightbox-video" data-videoid="video_{{ article.video_ref }}" href="https://www.youtube.com/watch?v={{ article.video_ref }}"><img src="../{{ article.videoImg_url }}"/></a>
                            {% endif %}

                            {% if article.subtitleNewsroom %}
                            <div class="subtitleNewsroom">{{ article.subtitleNewsroom}}</div>
                            {% endif %}
                            <div class="newsroom-entry-title">{{ article.colorTitle }}</div>
                              {% assign articleDate = article.date %}
                                <div class="newsroom-entry-date">{{ article.date | date: "%b %d, %Y" }}</div>
                                <div class="newsroom-entry-description">{{ article.subtext | truncate: 800}}</div>
                                {% if article.videoImg_url %}
                                <a class="js-lightbox-video newsroom-entry-ReadMore" data-videoid="video_{{ article.video_ref }}" href="https://www.youtube.com/watch?v={{ article.video_ref }}">{{ article.ReadMore }}</a>                              {% endif %}
                                {% if article.img_url %}
                                <a class="newsroom-entry-ReadMore" href="../{{ site.baseurl }}articles/{{ article.link }}">{{ article.ReadMore }}</a>
                                {% endif %}
                            </div>


        {% endif %}
        {% endfor %}
  			</br>
        </div>
  {% endfor %}

  	</div>
  </div>
</div>





</body>

</html>
