
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% include css.html %}
    <title>Philosophy</title>

</head>

{% include navigation.html %}

<body>


  <div class="subsection-grey" style="padding-top: 200px;">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="intro">
                      <h2>About QiTASC</h2>
                      <p>Helping you achieve your testing goals and improving time-to-market with INTACT is our top priority. Our automation tools are inspired by our philosophy that places an emphasis on high-quality, practical testing solutions that show immediate results.</p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <img class="subsetion-img" src="{{ base_url }}/assets/img/about/Philosophy/Magier_Staubsauger.png">

              </div>
              </div>
          </div>
      </div>
  </div>

  <div class="subsection-white">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <img class="subsetion-img" src="{{ base_url }}/assets/img/about/Philosophy/Magier_Staubsauger.png">
              </div>
              <div class="col-sm-8">
                <div class="intro">
                    <h2>Our Philosophy</h2>

                    <h3>High Quality</h3>
                    <p>INTACT supports testers in their work, just like a vacuum cleaner facilitates housework</p>
                    <h3>Solution-Oriented Approaches</h3>
                    <p>Our team of experts provides a solution that is tailored to your specific automated testing needs.</p>
                    <h3>Immediate Results</h3>
                    <p>Discover the immediate difference that INTACT makes to your project's quality when you start testing with us.</p>
                    <h3>Versatile, Customizable, Straightforward</h3>
                    <p>Despite its many features, INTACT is easy to use, adaptable, and supports cooperation within and across departments.</p>


                </div>


              </div>
              </div>
          </div>
      </div>
  </div>

{% include contact.html %}
{% include footer.html %}
</body>

</html>
