
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% include css.html %}
    <title>Privacy Policy</title>

</head>

{% include navigation.html %}

<body>
<div class="container" style="padding-top: 200px;">
  <div class="qitasc-light p-y-6">
  	<div class="row">
  		<div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xs-10 col-sm-8 col-md-6">
  			{% include message-text-align.html message=site.data.about.privacy.policy %}
  		</div>
  	</div>
  </div>

  <div class="qitasc-white p-y-3 qitasc-vacuum hidden-xs hidden-sm">
  	<div class="row">
  		<div class="col-md-offset-1 col-md-5 col-lg-6">
  			<div class="p-y-7"></div>
  			{% include message-text-align.html message=site.data.about.privacy.google %}
  		</div>
  	</div>
  </div>

  <div class="qitasc-light p-y-6">
  	<div class="row">
  		<div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xs-10 col-sm-8 col-md-6">
  			{% include message-text-align.html message=site.data.about.privacy.data %}
  		</div>
  	</div>
  </div>

  <div class="qitasc-white p-y-3 qitasc-productsandservices-testingservices-corporatetesting">
      <div class="row m-t-8">
          <div class="col-xs-offset-1 col-sm-offset-2 col-xs-10 col-sm-8 m-b-20">
              {% include message-text-align.html message=site.data.about.privacy.opt %}
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
{% include footer.html %}
</div>
</body>

</html>
