<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <!-- Check the main custom responsive functions for responsive here -->

    <link rel="stylesheet" href="{{ base_url }}/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/webfonts.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/navBar.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/hero.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/new-age.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/reference.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="{{ base_url }}/assets/css/products.css">
    <!-- <link rel="stylesheet" href="assets/css/hero.css"> -->





    <script src="{{ base_url }}/assets/js/jquery.min.js"></script>
    <script src="{{ base_url }}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ base_url }}/assets/js/theme.js"></script>
    <script src="{{ base_url }}/assets/js/sticky.js"></script>
    <script src="{{ base_url }}/assets/js/new-age.js"></script>
    <script src="{{ base_url }}/assets/js/new-age.min.js"></script>


</head>

<body>




  {% include navigation.html %}


  </br>  </br>  </br>  </br>  </br>  </br>  </br>  </br>  </br>  </br>  </br>
<div class="container">

      <div class="row">
          <div class="col-xs-offset-1 col-md-offset-5 col-xs-10 col-md-6"></br>
              <div class="qitasc-message-newsroom">
  							<h2>QiTASC Newsroom</h2>
  							<p>Explore articles, tutorial videos and interviews and get to know the QiTASC family, the company and the magic behind our product <span class="orange">IN</span>TACT<sup>®</sup></p>
  							<p>Find more information in the <a class="more" target="_blank" href="https://docs.qitasc.com/"><span class="orange">IN</span>TACT<sup>®</sup> Resource Center</a></p>
  						</div>
          </div>
      </div>
  </div>

  </br>  </br>  </br>  </br>  </br>  </br>  </br>  </br>  </br>  </br>






  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img class="productsOverViewImage" src="{{ base_url }}/assets/img/products/ProductOverview_main.png">
      </div>
      <div class="col">

<!-- ############################################################## -->
<!--  HERE COMES THE LOOP OVER EVERY PRODUCT OF _data/products.yml  -->
<!-- ############################################################## -->

        {% for product in site.data.products %}

        <p>
        <img class="productsIcon" src="{{ base_url }}/assets/img/{{ product.icon }}">
        {{product.header}}
        </p>

        {% endfor %}
      </div>
    </div>
  </div>


  {% include footer.html %}
  </body>


  </html>
