---
layout: default
---
{% comment %}##############################################{% endcomment %}
{% comment %}######  Building the Table Of Content ########{% endcomment %}
{% comment %}##############################################{% endcomment %}

<div class="articleTableOfContent">
    <div class="container">
        <div class="row">
          <div class="col-2">
            <!-- <img id="toggelTableOfContent" class="articleTableOfContentIcon" src="{{ site.baseulr }}/assets/images/newsroom/tableOfContent/toc.svg"> -->
          </div>
          <div class="col">
            <div class="articleTableOfContentTitle">{{ page.title }}</div>
          </div>
      </div>
    </div>
</div>

{% comment %}
<!-- <div class="articleTableOfContentOpen">
  {% assign tableOfContent = page.anchors %}
  {% for anchor in tableOfContent %}

      {% assign LoopIndex = forloop.index | minus:1 %}

              <a href="#{{ page.anchors[LoopIndex] }}"><center>{{ page.anchorsNames[LoopIndex] }}</center></a></br>

  {% endfor %}
</div> -->
{% endcomment %}

{% capture page.title %}{{ page.position }} {{ page.location }}{% endcapture %}

{% comment %}##############################################{% endcomment %}
{% comment %}## If the field experience exists and is 1 ###{% endcomment %}
{% comment %}########### The Tutorial Experience ##########{% endcomment %}
{% comment %}################ will be shown ###############{% endcomment %}
{% comment %}##############################################{% endcomment %}

{% comment %}
<!-- {% if page.experience == 1 %}

      <div class="container-fluid newsroomIndividualArticlePageExperienceContainer">
        <div class="container">
                {{ page.subtitle }}
                {{ page.text }}
                All Tutorials can also be found in our online <a class="more" target="_blank" href="https://manual.qvie.qitasc.com/tutorials/README/"><span class="orange">IN</span>TACT Manual</a>
            <div class="row">
        </div>
      </div>
    </div> -->



      <!--
      <div class="qitasc-white qitasc-productsandservices-managedservices-header p-b-2 m-b-6">
          <div class="row">
              <div class="col-xs-offset-1 col-md-offset-4 col-xs-10 col-md-7 m-t-6 m-b-24">
                <h2>{{ page.subtitle }}</h2>
                <div class="newsroom-entry-date">{{ page.date | date: "%b %d, %Y" }}</div></br>
                  </br>
                  </br>
                {{ page.text }}
                </br>
                </br>
                All Tutorials can also be found in our online <a class="more" target="_blank" href="https://manual.qvie.qitasc.com/tutorials/README/"><span class="orange">IN</span>TACT Manual</a>
                  </br>
                    </br>

              </div>
          </div>
      </div>
      {% endif %}
      -->
{% endcomment %}

{% comment %}##############################################{% endcomment %}
{% comment %}###########   Main Article Header   ##########{% endcomment %}
{% comment %}##############################################{% endcomment %}
<div class="container-fluid mainArticleHeader">
  <div class="container">
    <div class="row">
          <h1>{{ page.colorTitle }}</h1>
          <div id="article-subheader">
              <h4>{{ page.subtext }}<h4>

              {% comment %}##############################################{% endcomment %}
              {% comment %}########## If webContent Field is 1 ##########{% endcomment %}
              {% comment %}##############################################{% endcomment %}

              {% if page.webContent == 1 %}
                      <div class="qitasc-message-text-align">
                        <p class="h4">{{ page.subtitle }}</p>
                      </div>
              {% endif %}


          </div>
    </div>
  </div>
</div>


{% comment %}##############################################{% endcomment %}
{% comment %}######  If Main Article Image is set  ########{% endcomment %}
{% comment %}##############################################

<!-- </br>

{% if page.img_main_url %}
<div class="qitasc-articles-header-img-container">
    <div class="qitasc-articles-header-img-container-content">
          <img class="qitasc-articles-header-img" src="{{ site.baseurl }}/{{ page.img_main_url }}">
    </div>
</div>
{% endif %} -->


{% endcomment %}
{% comment %}##############################################{% endcomment %}
{% comment %}################ Mobile Version ##############{% endcomment %}
{% comment %}##############################################{% endcomment %}
{% comment %}
<!--
<div class="floating-container-mobile">
  <input id="collapsible-01" class="toggle-floating-mobile" type="checkbox">
  <label for="collapsible-01" class="lbl-toggle-floating-mobile">Table of Contents</label>
      <div class="collapsible-content-floating-mobile">
        <div class="floating-mobile-spacer"></div>
        {% assign tableOfContent = page.anchors %}
        {% for anchor in tableOfContent %}
        {% assign LoopIndex = forloop.index | minus:1 %}
        <a class="floating-link-mobile" id="toggle-floating-input-{{ forloop.index }}" href="#{{ page.anchors[LoopIndex] }}"><center>{{ page.anchorsNames[LoopIndex] }}</center></a></br>
        {% endfor %}
      </div>

</div> -->
{% endcomment %}

{% comment %}##############################################{% endcomment %}
{% comment %}######  Building the Content #################{% endcomment %}
{% comment %}##############################################{% endcomment %}

<div class="container-fluid">

  {% if page.img_main_url %}


        <div class="mainArticleImage">
              <img class="mainArticleImageClass" src="{{ site.baseurl }}/{{ page.img_main_url }}">
        </div>


  {% endif %}
    <div class="container qitasc-article-content">

      {% if page.navStyle == 'TooManyValues' %}
      {{ page.navStyle }}
      {% endif %}
      {{ page.content | markdownify }}

    </div>

</div>
